@import '~/styles/theme.scss';

.navigation_bar {
  border-bottom: 1px solid $grey-1;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    display: flex;
    gap: 1rem;
  }

  & label {
    font-size: 26px;
    font-weight: 100;
    font-stretch: expanded;
  }
}