@import '~/styles/theme.scss';

.navigation_bar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lighten($color: $background-color, $amount: 10);

  & > div {
    display: flex;
    gap: 1rem;
  }

  & label {
    font-size: 26px;
    font-weight: 100;
    font-stretch: expanded;
  }
}